.error-display {
   margin: 30px 40px 30px 40px;
}

.error-container {
   width: 100%;
   /* padding-left: 36%; */
   text-align: center;
}

.error {
   width: 700px;
   max-height: 100%;
   object-fit: cover;
}
