.bio-display {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   margin: 30px 40px 30px 40px;
}

.bio-profile-title-container, 
.bio-contact-title-container {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin-bottom: 40px;
   font-family: 'Nasal';
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 2px;
   color: #575757;
}

.bio-profile-title-container:after, 
.bio-profile-title-container:before, 
.bio-contact-title-container:after, 
.bio-contact-title-container:before {
   content: '';
   width: 150px;
   height: 2px;
   margin: 0 10px;
   background: #DA3CAC;
}

.bio-1 {
   order: 0;
}

.bio-2 {
   order: 2;
}

.bio-3 {
   order: 1;
}

.bio-4 {
   order: 3;
}

.bio-5 {
   order: 4;
}

.bio-6 {
   order: 5;
}

.bio-contact-title-container {
   margin-top: 40px;
}

.bio-profile-container, 
.bio-contact-container {
   text-align: justify;
   font-family: 'Nasal';
   font-size: 16px;
   letter-spacing: 1px;
   line-height: 20px;
   color: #575757;
}

.bio-heading {
   font-weight: bold;
}

.bio-heading, 
.bio-stats-prof {
   display: inline;
}

.bio-stats-prof {
   padding-left: 20px;
}

.bio-label {
   display: block;
   font-weight: bold;
}

.address, 
.message {
   margin-top: 20px;
}

.bio-input, 
.bio-textarea {
   display: block;
   width: 100%;
   padding: 1%;
   margin-top: 20px;
   border: 2px solid #818181;
   border-radius: 5px;
   font-family: monospace;
   font-size: 16px;
   letter-spacing: 1px;
   resize: none;
}

.bio-input:focus, 
.bio-textarea:focus {
   border: 2px solid #000000;
   border-radius: 5px;
   outline: none;
}

.bio-submit-container {
   text-align: center;
   margin-top: 20px;
}

.bio-submit-button {
   padding: 10px;
   border: 2px solid #818181;
   border-radius: 5px;
   font-family: 'Nasal';
   font-weight: bold;
   letter-spacing: 1px;
   color: #575757;
   background: none;
}

.bio-submit-button:hover {
   cursor: pointer;
}

.bio-submit-button:focus {
   border: 2px solid #000000;
   border-radius: 5px;
   outline: none;
   color: #000000;
}

.bio-image-container1 {
   text-align: center;
   margin-bottom: 20px;
}

.bio-image-container2 {
   display: none;
}

.bio-image {
   width: 100%;
   max-height: 100%;
   object-fit: cover;
}

/* * IPAD */
@media only screen and (min-width: 550px) {
   .bio-display {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 50px;
   }

   .bio-1 {
      order: 1;
   }

   .bio-2 {
      order: 4;
   }

   .bio-3 {
      order: 2;
   }

   .bio-4 {
      order: 5;
   }

   .bio-5 {
      order: 6;
   }

   .bio-6 {
      order: 3;
   }

   .bio-profile-title-container {
      margin-bottom: 30px;
   }

   .bio-contact-title-container {
      margin-top: 0px;
      margin-bottom: 30px;
   }

   .bio-profile-container,
   .bio-contact-container {
      display: block;
      text-align: justify;
      margin: 10px;
      font-family: 'Nasal';
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 20px;
      color: #575757;
   }

   .bio-label {
      display: block;
      margin-top: 20px;
      font-weight: bold;
   }

   .bio-stats {
      float: right;
   }

   .full-name {
      margin-top: 0px;
   }

   .bio-submit-container {
      display: block;
      margin-top: 0px
   }

   .bio-submit-button {
      width: 20%;
      margin-top: 18px
   }

   .bio-image-container2 {
      display: block;
      text-align: center;
   }
}

.bio-stats {
   margin-bottom: 50px;
}

/* * DESKTOP */
@media only screen and (min-width: 958px) {
   .bio-display {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 3em;
      grid-row-gap: 3em;
   }

   .bio-1 {
      order: 0;
   }

   .bio-2 {
      order: 3;
   }

   .bio-3 {
      order: 2;
   }

   .bio-4 {
      order: 4;
   }

   .bio-5 {
      order: 5;
   }

   .bio-6 {
      order: 6;
   }

   .bio-profile-title-container {
      margin-bottom: 0;

   }
   
   .bio-contact-title-container {
      margin-top: 0;
      margin-bottom: 0;
   }

   .bio-profile-container,
   .bio-contact-container {
      display: block;
      text-align: justify;
      margin: 10px;
      font-family: 'Nasal';
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 20px;
      color: #575757;
   }

   .bio-label {
      display: block;
      margin-top: 20px;
      font-weight: bold;
   }

   .full-name {
      margin-top: 0px;
   }

   .bio-submit-container {
      display: block;
      margin-top: 0px
   }

   .bio-submit-button {
      margin-top: 18px
   }

   .bio-image-container1,
   .bio-image-container2 {
      text-align: right;
   }

   .bio-image-container2 {
      display: block;
      order: 4;
   }

   .bio-image {
      width: 470px;
   }
}

/* * DESKTOP LARGE*/
@media only screen and (min-width: 1845px) {
   .bio-display {
      margin: 30px 250px 30px 250px;
   }
}
