@font-face {
   font-family: 'VirtualReality';
   font-weight: normal;
   src: url('../fonts/virtualreality-regular.ttf') format('truetype')
}

@font-face {
   font-family: 'Nasal';
   font-weight: normal;
   src: url('../fonts/nasalization-rg.ttf') format('truetype')
}

@font-face {
   font-family: 'MrsMonster';
   font-weight: normal;
   src: url('../fonts/mrsmonster.ttf') format('truetype')
}

@font-face {
   font-family: 'Coffee&Tea';
   font-weight: normal;
   src: url('../fonts/coffee&tea.ttf') format('truetype')
}

@font-face {
   font-family: 'Carosello';
   font-weight: normal;
   src: url('../fonts/carosello-Regular.otf') format('opentype')
}