.grid-bio {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(4, 1fr);
   grid-column-gap: 50px;
   grid-row-gap: 40px;
   margin: 40px 80px;
}

.profile-container {
   text-align: justify;
   /* makes the paragraph end at the same spot on each line */
   font-family: 'Nasal';
   font-size: 16px;
   letter-spacing: 1px;
   line-height: 20px;
   color: #575757;
}

.profile-title,
.contact-title {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 2px;
}

.profile-title:after, 
.profile-title:before,
.contact-title:after,
.contact-title:before {
   content: '';
   width: 150px;
   height: 2px;
   margin: 0 10px;
   background: #DA3CAC;
}

.heading {
   font-weight: bold;
}

.heading,
.stats {
   display: inline;
}

.prof {
   padding-left: 20px;
}

label {
   display: block;
   margin-top: 20px;
   font-weight: bold;
}

.input-bar,
textarea {
   display: block;
   width: 100%;
   padding: 1%;
   margin-top: 20px;
   border: 2px solid #818181;
   border-radius: 5px;
   font-family: monospace;
   font-size: 16px;
   letter-spacing: 1px;
}

input:focus, 
textarea:focus {
   border: 2px solid #000000;
   border-radius: 5px;
   outline: none;
}

.submit-container {
   text-align: center;
}

.submit-button {
   width: 20%;
   padding: 10px;
   margin-top: 50px;
   border: 2px solid #818181;
   border-radius: 5px;
   font-family: 'Nasal';
   font-weight: bold;
   letter-spacing: 1px;
   color: #575757;
   background: none;
}

.submit-button:hover {
   cursor: pointer;
}

.bio-image-container img {
   width: 32vw;
   max-height: 100%;
   object-fit: cover;
}