.grid-bio {
   margin: 50px 80px;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   /* splits the grid into 5 equal fractions going horizontally */
   grid-template-rows: repeat(5, 1fr);
   /* splits the grid into 5 equal fractions going vertically */
   grid-column-gap: 50px;
   /* gap size between columns */
   grid-row-gap: 40px;
   /* gap size between rows */
}

.image-container img {
   object-fit: cover;
   width: 32vw;
   max-height: 100%;
}

.profile-title {
   text-align: center;
}

h3 {
   font-family: 'Nasal';
   font-size: 1rem;
   color: #000000;
   display: flex;
   align-items: center;
   justify-content: center;
}

h3:after, h3:before {
   content: '';
   width: 150px;
   height: 2px;
   background: #CC339A;
   margin: 0 10px;
}

.stats,
.profile {
   display: inline;
   line-height: 20px;
   font-family: 'Nasal';
   font-size: 0.9rem;
   text-align: justify;
   /* makes the paragraph end at the same spot on each line */
}

label {
   font-family: 'Nasal';
   display: block;
   margin-top: 20px;
}

.input-bar {
   margin-top: 20px;
   width: 100%;
   padding: 2%;
   border: 2px solid #818181;
   border-radius: 5px;
   -webkit-transition: 0.5s;
   transition: 0.5s;
}

textarea {
   display: block;
   margin-top: 20px;
   width: 100%;
   padding: 2%;
   border: 2px solid #818181;
   border-radius: 5px;
   -webkit-transition: 0.5s;
   transition: 0.5s;
   resize: none;
}

input:focus, textarea:focus {
   outline: none !important;
   border: 2px solid #000000;
   border-radius: 5px;
}

.submit-container {
   text-align: center;
}

.submit-button {
   font-family: 'Nasal';
   font-size: 0.9rem;
   margin-top: 50px;
   padding: 10px;
   width: 20%;
   background: none;
   border-radius: 5px;
}