.blog-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 40px 80px 0px 80px;
}

.blog-card {
   width: 75%;
   padding: 40px 20px 20px 20px;
   margin-bottom: 50px;
   box-shadow: 0 3px 7px -1px hsl(0, 0%, 20%);
   color: #575757;
}

.blog-background-1, 
.blog-background-2, 
.blog-background-3,
.blog-background-4,
.blog-background-5,
.blog-background-6 {
   padding: 180px;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.blog-background-6 {
   background-image: url("../images/blog/Blog-6.jpg");
}

.blog-background-5 {
   background-image: url("../images/blog/Blog-5.jpg");
}

.blog-background-4 {
   background-image: url("../images/blog/Blog-1.jpg");
}

.blog-background-3 {
   background-image: url("../images/blog/Blog-3.jpg");
}

.blog-background-2 {
   background-image: url("../images/blog/Blog-2.jpg");
}

.blog-background-1 {
   background-image: url("../images/blog/Blog-1.jpg");
}

.blog-title {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 15px;
   font-family: "Nasal";
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 2px;
   text-transform: uppercase;
}

.blog-time {
   margin-top: 15px;
   font-family: "Nasal";
   font-size: 16px;
   font-weight: bold;
   letter-spacing: 1px;
}

.blog-preview {
   margin-top: 15px;
   font-family: "Nasal";
   font-size: 16px;
   letter-spacing: 1px;
   line-height: 20px;
}

.blog-head {
   font-family: "Nasal";
   font-weight: bold;
   font-size: 18px;
   letter-spacing: 2px;
   line-height: 20px;
   text-transform: uppercase;
   text-align: center;
   margin-top: 40px;
}

.blog-copy-intro {
   margin-top: 20px;
   font-family: "Nasal";
   font-size: 16px;
   letter-spacing: 1px;
   line-height: 20px;
}

.blog-copy {
   margin-top: 20px;
   font-family: "Nasal";
   font-size: 16px;
   letter-spacing: 1px;
   line-height: 20px;
}

.blog-image {
   margin-top: 30px;
}

.read-more-link,
.back-link {
   float: right;
   margin-top: 15px;
   font-family: 'Nasal';
   font-size: 1rem;
   font-weight: bold;
   letter-spacing: 1px;
   overflow: hidden;
   /* Clips any content outside of the hyperlink during the hover transition */
   background: linear-gradient(to right, #DA3CAC, #DA3CAC 50%, #575757 50%);
   /* Creates a hard stop at 50% to the starting color and the color that it will change to */
   background-clip: text;
   /* Clips the gradient and the text value to display the text */
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-size: 200% 100%;
   background-position: 100%;
   /* have the starting color appear */
   transition: background-position 0.7s ease-in;
}

.read-more-link:hover,
.back-link:hover {
   background-position: 0 100%;
   /* have the link fill from left to right on hover */
}

figure {
   text-align: center;
}

figcaption {
   margin-top: 5px;
   font-family: "Nasal";
   font-size: 13px;
   letter-spacing: 1px;
   line-height: 20px;
}

.blog-image {
   width: 100%;
}

.test {
   width: 100%;
   padding: 1px;
}
