.blog-display {
   margin: 30px 27px 0px 27px;
}

.blog-card {
   padding: 20px 20px 20px 20px;
   box-shadow: 0 3px 7px -1px hsl(0, 0%, 20%);
   color: #575757;
   background-color: #ececec;
}

.blog-background-1, 
.blog-background-2, 
.blog-background-3, 
.blog-background-4, 
.blog-background-5, 
.blog-background-6 {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 21.3%;
   background-size: contain;
   background-repeat: no-repeat;
}

.blog-background-6 {
   background-image: url("../images/blog/Blog-6.jpg");
}

.blog-background-5 {
   background-image: url("../images/blog/Blog-5.jpg");
}

.blog-background-4 {
   background-image: url("../images/blog/Blog-1.jpg");
}

.blog-background-3 {
   background-image: url("../images/blog/Blog-3.jpg");
}

.blog-background-2 {
   background-image: url("../images/blog/Blog-2.jpg");
}

.blog-background-1 {
   background-image: url("../images/blog/Blog-1.jpg");
}

.blog-title {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-top: 15px;
   font-family: "Nasal";
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 2px;
   line-height: 25px;
   text-transform: uppercase;
}

.blog-title:after, 
.blog-title:before {
   content: '';
   width: 100px;
   height: 2px;
   margin: 0 10px;
   background: #DA3CAC;
}

.blog-time {
   margin-top: 15px;
   font-family: "Nasal";
   font-size: 16px;
   font-weight: bold;
   letter-spacing: 1px;
}

.blog-preview {
   margin-top: 15px;
   font-family: "Nasal";
   font-size: 16px;
   letter-spacing: 1px;
   line-height: 20px;
}

.blog-head {
   font-family: "Nasal";
   font-weight: bold;
   font-size: 18px;
   letter-spacing: 2px;
   line-height: 20px;
   text-transform: uppercase;
   text-align: center;
   margin-top: 40px;
}

.blog-copy-intro {
   margin-top: 20px;
   font-family: "Nasal";
   font-size: 16px;
   letter-spacing: 1px;
   line-height: 20px;
}

.blog-copy {
   margin-top: 20px;
   font-family: "Nasal";
   font-size: 16px;
   letter-spacing: 1px;
   line-height: 20px;
}

.blog-image {
   margin-top: 30px;
}

.blog-read-more-container,
.blog-back-container {
   text-align: right;
   margin-top: 15px;
}

.blog-read-more, 
.blog-back {
   margin-top: 15px;
   font-family: 'Nasal';
   font-size: 16px;
   font-weight: bold;
   text-decoration: none;
   letter-spacing: 1px;
   color: #575757;
}

.blog-read-more:hover, 
.blog-back:hover {
   color: #DA3CAC;
   transition: .3s ease-in-out;
}

.blog-figure {
   text-align: center;
}

.blog-figcaption {
   margin-top: 5px;
   font-family: "Nasal";
   font-size: 13px;
   letter-spacing: 1px;
   line-height: 20px;
}

.blog-image {
   width: 100%;
}

/* IPAD */
@media only screen and (min-width: 415px) {
}

/* DESKTOP */
@media only screen and (min-width: 958px) {
   .blog-grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 3em;
      grid-row-gap: 3em;
   }

   .blog-card {
      width: 100%;
      padding: 40px 20px 20px 20px;
   }

   .blog-background-1, 
   .blog-background-2, 
   .blog-background-3, 
   .blog-background-4, 
   .blog-background-5, 
   .blog-background-6 {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
   }
}