.code-display {
   display: flex;
   flex-direction: column;
   margin: 20px 27px 20px 27px;
   background-color: #ececec;
   box-shadow: 0 3px 7px -1px hsl(0, 0%, 20%);
}

.code-title-container {
   display: flex;
   justify-content: center;
   align-items: center;
   order: 1;
   text-align: center;
   margin: 20px;
   font-family: 'Nasal';
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 2px;
   color: #575757;
}

.code-text-container {
   order: 2;
   margin: 20px;
   text-align: center;
   font-family: 'Nasal';
   font-size: 16px;
   letter-spacing: 1px;
   line-height: 20px;
   color: #575757;
}

.code-heading {
   font-weight: bold;
}

.code-stats-prof {
   display: inline-block;
   margin-top: 5px;
}

.code-stats {
   display: none;
}

.code-image-container {
   order: 2;
   border: 5px solid #ececec;
   cursor: pointer;
   transition: .3s ease-in-out;
   filter: brightness(100%);
}

.code-image {
   width: 100%;
   /* height: 250px; */
   object-fit: fill;
}

@media only screen and (min-width: 958px) {

   .code-display {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 10% repeat(3, 1fr);
      grid-column-gap: 20px;
      margin: 40px 60px 20px 60px;
   }

   .code-title-container{
      margin: 0px;
   }

   .code-text-container {
      text-align: justify;
   }

   .code-heading, 
   .code-stats-prof {
      display: inline;
   }

   .code-stats-prof {
      margin-left: 20px;
      margin-top: 0px;
   }

   .code-stats {
      display: block;
      margin-top: 20px;
   }

   .code-image {
      width: 100%;
      object-fit: fit-content;
   }

   .code-image:hover {
      filter: brightness(40%);
      /* acts as substitute for an overlay - overlay gets in way of modal */
      transition: .3s ease-in-out;
   }
}