.grid-code {
   margin: 40px 60px;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   /* splits the grid into 5 equal fractions going horizontally */
   grid-template-rows: repeat(4, 1fr);
   /* splits the grid into 5 equal fractions going vertically */
   grid-column-gap: 65px;
   /* gap size between columns */
   grid-row-gap: 40px;
   /* gap size between rows */
   background-color: #ececec;
   box-shadow: 0 3px 7px -1px hsl(0, 0%, 20%);
}

.code-container {
   font-family: 'Nasal';
   font-size: 1rem;
   line-height: 20px;
   letter-spacing: 1px;
   text-align: justify;
   color: #494949;
   padding: 20px;
}

.code-title {
   font-family: 'Nasal';
   font-size: 1.5rem;
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
}

.code-image-container {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 5px solid #ececec;
   cursor: pointer;
   transition: .3s ease-in-out;
   filter: brightness(100%);
}

.code-image-container img {
      width: 100%;
      object-fit: fit-content;
}

.code-image-container img:hover {
   filter: brightness(40%);
   /* acts as substitute for an overlay - overlay gets in way of modal */
   transition: .3s ease-in-out;
}