.code-grid {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(4, 1fr);
   grid-column-gap: 20px;
   grid-row-gap: 40px;
   margin: 40px 60px;
   background-color: #ececec;
   box-shadow: 0 3px 7px -1px hsl(0, 0%, 20%);
}

.code-container {
   padding: 20px;
   text-align: justify;
   font-family: 'Nasal';
   font-size: 16px;
   letter-spacing: 1px;
   line-height: 20px;
   color: #575757;
}

.code-title {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 2px;
}

.code-image-container {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 5px solid #ececec;
   cursor: pointer;
   transition: .3s ease-in-out;
   filter: brightness(100%);
}

.code-heading {
   font-weight: bold;
}

.code-heading,
.code-stats-prof {
   display: inline;
}

.code-stats-prof {
   padding-left: 20px;
}

.code-image {
   width: 100%;
   object-fit: fit-content;
}

.code-image:hover {
   filter: brightness(40%);
   /* acts as substitute for an overlay - overlay gets in way of modal */
   transition: .3s ease-in-out;
}