.grid-gallery {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: auto;
   grid-column-gap: 65px;
   grid-row-gap: 45px;
   margin: 40px 60px;
}

.gallery-item {
   position: relative;
   /* allows for the image text to be placed relative to the image itself */
}

.gallery-img {
   width: 100%;
   cursor: pointer;
}

.gallery-img:hover {
   filter: brightness(40%);
   /* acts as substitute for an overlay - overlay gets in way of modal */
   transition: .3s ease-in-out;
}

.text1, 
.text2 {
   z-index: 1;
   position: absolute;
   top: 50%;
   left: 50%;
   text-align: center;
   font-family: 'Nasal';
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 2px;
   color: #ffff;
   opacity: 0;
   pointer-events: none;
   transform: translate(-50%, -50%);
   /* ensures text starts in the middle of the image */
   transition: .3s ease-in-out;
}

.text2 {
   top: 60%;
   font-size: 15px;
}

.gallery-item:hover .text1, 
.gallery-item:hover .text2 {
   opacity: 1;
   /* ensures the text becomes visible on hover */
}