.hero-container {
   margin-left: 40px;
   margin-right: 40px;
}

.hero {
   position: relative;
   padding: 30vw 0vw 25vw 0vw;
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-image: url("../images/Splash.jpg");
}

.hover-box {
   position: absolute;
   text-align: center;
   width: 26vw;
   height: 9vw;
   top: 35%;
   left: 36.2%;
}

[class*='header'] {
   position: absolute;
   font-family: 'Virtualreality';
   font-size: 2vw;
   color: #68E931;
   text-shadow: 1px 1px 10px #68E931, 1px 1px 10px #68E931;
}

.primary-top-header {
   top: 20%;
   left: 8%;
   pointer-events: none;
}

.primary-bottom-header {
   top: 60%;
   left: 18%;
   pointer-events: none;
}

.secondary-top-header {
   display: none;
   top: 20%;
   left: 12%;
   pointer-events: none;
}

.secondary-bottom-header {
   display: none;
   top: 60%;
   left: 4%;
   pointer-events: none;
}

.hover-box:hover .secondary-top-header, 
.hover-box:hover .secondary-bottom-header {
   display: block;
   color: #DA3CAC;
   text-shadow: 1px 1px 10px #DA3CAC, 1px 1px 10px #DA3CAC;
}

.hover-box:hover .primary-top-header, 
.hover-box:hover .primary-bottom-header {
   display: none;
}