.hero {
   position: relative;
   padding: 110vw 0vw;
   margin: 20px 0px;
   background-size: 200%;
   background-position: center;
   background-repeat: no-repeat;
   background-image: url("../images/Splash3.jpg");
}

.primary-top-header,
.primary-bottom-header {
   position: absolute;
   font-family: 'Virtualreality';
   font-size: 20px;
   color: #68E931;
   text-shadow: 1px 1px 10px #68E931, 1px 1px 10px #68E931;
}

.primary-top-header {
   top: 19%;
   left: 25.5%;
   pointer-events: none;
}

.primary-bottom-header {
   top: 23%;
   left: 24.5%;
   pointer-events: none;
}

.secondary-top-header {
   display: none;
}

.secondary-bottom-header {
   display: none;
}

/* IPAD */
@media only screen and (min-width: 550px) {
   .hero-container {
      margin: 2.5em 3em 1em 3em;
   }
   
   .hero {
      /* position: relative; */
      padding: 48vw 0vw;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../images/Splash2.jpg");
   }
   
   .hover-box {
      position: absolute;
      /* text-align: center; */
      width: 26vw;
      height: 9vw;
      top: 18vw;
      left: 29vw;
   }
   
   .primary-top-header,
   .primary-bottom-header {
      position: relative;
      font-family: 'Virtualreality';
      font-size: 2vw;
      color: #68E931;
      text-shadow: 1px 1px 10px #68E931, 1px 1px 10px #68E931;
   }
   
   .primary-top-header {
      top: 1vw;
      left: 5vw;
      pointer-events: none;
   }
   
   .primary-bottom-header {
      top: 4.5vw;
      left: 7.5vw;
      pointer-events: none;
   }
   
   .secondary-top-header {
      display: none;
      top: 13%;
      left: 12%;
      pointer-events: none;
   }
   
   .secondary-bottom-header {
      display: none;
      top: 50%;
      left: 3.5%;
      pointer-events: none;
   }
   
   .hover-box:hover .secondary-top-header, 
   .hover-box:hover .secondary-bottom-header {
      display: block;
      position: absolute;
      font-family: 'Virtualreality';
      font-size: 2vw;
      color: #DA3CAC;
      text-shadow: 1px 1px 10px #DA3CAC, 1px 1px 10px #DA3CAC;
   }
   
   .hover-box:hover .primary-top-header, 
   .hover-box:hover .primary-bottom-header {
      display: none;
   }
}

/* DESKTOP */
@media only screen and (min-width: 835px) {
   
}