.foot-icon-wrapper,
.code-icon-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.foot-icon,
.code-icon {
   width: 50px;
   margin: 0px 10px;
   color: black;
}

.code-icon-link {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 20px;
}

.foot-icon:hover {
   filter: invert(30%) sepia() saturate(1000%) hue-rotate(280deg) contrast(80%);
   transition: .3s ease-in-out;
}

.code-icon:hover {
   filter: invert(5%) sepia() saturate(1000%) hue-rotate(280deg) contrast(75%);
   transition: .3s ease-in-out;
}

@media only screen and (min-width: 958px) {

   .code-icon-wrapper {
      margin-bottom: 10px;
   }
}


