.icon-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.icon-footer,
.icon-code {
   width: 50px;
   margin: 0px 10px;
   color: black;
}

.project-link {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 20px;
}

.icon-footer:hover {
   filter: invert(30%) sepia() saturate(1000%) hue-rotate(280deg) contrast(80%);
}

.icon-code:hover {
   filter: invert(5%) sepia() saturate(1000%) hue-rotate(280deg) contrast(75%);
}


