.hero-container {
   margin-left: 20px;
   margin-right: 20px;
}

.hero {
   background-image: url("../images/Splash.jpg");
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: center;
   padding: 30vw 0vw 25vw 0vw;
   position: relative;
}

.pill {
   width: 80px;
   margin: 10px;
}