nav {
   padding: 0px 8px;
}

ul {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   padding-bottom: 20px;
}

li {
   height: 60px;
   display: flex;
   align-items: flex-end;
}

a {
   text-decoration: none;
}