nav {
   padding: 0px;
}

ul {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   padding-bottom: 20px;
}

li {
   height: 40px;
   display: flex;
   align-items: flex-end;
}

