
@font-face {
   font-family: 'Virtualreality';
   font-weight: normal;
   src: url('../fonts/VirtualReality-Regular.ttf') format('truetype')
}

@font-face {
   font-family: 'CodeBold';
   font-weight: normal;
   src: url('../fonts/Code_/CODE-Bold.otf') format('opentype')
}

@font-face {
   font-family: 'CodeLight';
   font-weight: normal;
   src: url('../fonts/Code_/CODE-Light.otf') format('opentype')
}

@font-face {
   font-family: 'Nasal';
   font-weight: normal;
   src: url('../fonts/nasalization-rg.ttf') format('truetype')
}

.nav-link {
   font-family: 'Nasal', sans-serif;
   font-size: 1rem;
   text-transform: uppercase;
   text-decoration: none;
   letter-spacing: 2px;
   position: relative;
   display: inline-block;
   overflow: hidden;
   /* Clips any content outside of the hyperlink during the hover transition */
   background: linear-gradient(to right, #CC339A, #CC339A 50%, #000000 50%);
   /* Creates a hard stop at 50% to the starting color we want the link to be and the color that it will change to */
   background-clip: text;
   /* Clips the gradient and the text value to display the text */
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-size: 200% 100%;
   background-position: 100%;
   /* have the starting color appear */
   transition: background-position 0.5s ease-in;
}

.nav-link:hover {
   background-position: 0 100%;
   /* have the link fill from left to right on hover */
}

.hover-box {
   width: 28vw;
   height: 10vw;
   top: 32%;
   left: 36.2%;
   text-align: center;
   position: absolute;
}

[class*='title'] {
   font-family: 'Virtualreality', sans-serif;
   font-size: 2vw;
   color: #68E931;
   position: absolute;
   text-shadow: 1px 1px 10px #68E931, 1px 1px 10px #68E931;
}

.primary-top-title {
   top: 33%;
   left: 9.5%;
}

.primary-bottom-title {
   top: 68%;
   left: 18.5%;
}

.secondary-top-title {
   top: 33%;
   left: 18%;
   display: none;
}

.secondary-bottom-title {
   top: 68%;
   left: 18.5%;
   display: none;
}

.hover-box:hover .secondary-top-title, .hover-box:hover .secondary-bottom-title {
   display: block;
   color: #CC339A;
   text-shadow: 1px 1px 10px #CC339A, 1px 1px 10px #CC339A;
}

.hover-box:hover .primary-top-title, .hover-box:hover .primary-bottom-title {
   display: none;
}

.foot {
   font-family: 'Nasal';
   font-size: 0.9rem;
   color: #000000;
   padding: 10px;
   letter-spacing: 1px;
}