@font-face {
   font-family: 'Poppins-SemiBold';
   font-weight: normal;
   src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype')
}

@font-face {
   font-family: 'Virtualreality';
   font-weight: normal;
   src: url('../fonts/VirtualReality-Regular.ttf') format('truetype')
}

a {
   font-family:'Poppins-SemiBold', sans-serif;
   font-size: 1rem;
   text-transform: uppercase;
   color: #7F7F7F;
   text-decoration: none;
}

a:hover {
   color: #000000;
}

.hover-box {
   width: 28vw;
   height: 10vw;
   top: 32%;
   left: 36.2%;
   text-align: center;
   position: absolute;
}

[class*='title'] {
   font-family:'Virtualreality', sans-serif;
   font-size: 2vw;
   color: #68E931;
   position: absolute;
   text-shadow:1px 1px 10px #68E931, 1px 1px 10px #68E931;
}

.primary-top-title {
   top: 25%;
   left: 9.5%;
}

.primary-bottom-title {
   top: 60%;
   left: 18.5%;
}

.secondary-top-title {
   top: 25%;
   left: 18%;
   display: none;
}

.secondary-bottom-title {
   top: 60%;
   left: 18.5%;
   display: none;
}

.hover-box:hover .secondary-top-title,
.hover-box:hover .secondary-bottom-title {
   display: block;
   color: #D5458F;
   text-shadow:1px 1px 10px #D5458F, 1px 1px 10px #D5458F;
}

.hover-box:hover .primary-top-title, 
.hover-box:hover .primary-bottom-title {
   display: none;
}

.foot {
   font-family: sans-serif;
   font-size: 0.8rem;
   color: #7F7F7F;
   padding: 10px;
}


